extends layout

block content
  div.container
    ul#logs
    form.form-inline
      div.form-group
        input#message.form-control(type='text' autocomplete='off' placeholder='message')
      button.btn.btn-primary(aria-label='Send')
        span.glyphicon.glyphicon-send(aria-hidden='true')
block append scripts
  script(src='/javascripts/index.js')
