extends layout
block content
  div.container-fluid
    div.row
      div.col-md-2
        div.panel.panel-default
          div.panel-heading User 0
          ul#logs.list-group
          div.panel-footer
            form.form-inline
              div.form-group
                input#message.form-control(placeholder='message')
              button.btn.btn-primary
                span.glyphicon.glyphicon-send(aria-hidden='true')
block append scripts
  script(src='/javascripts/operator.js')
