extends layout

block content
  div.container-fluid
    div#panels.row
      div#panel.col-md-2.hidden
        div.panel.panel-default
          div.panel-heading User 1
          ul.list-group
          div.panel-footer
            form.form-inline
              div.form-group
                input.form-control(placeholder='message')
              button.btn.btn-primary
                span.glyphicon.glyphicon-send(aria-hidden='true')
block append scripts
  script(src='/javascripts/operator.js')
